/* <!-- */
/* General styles */
body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#fff;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
    /* The min-width property does not work in old versions of Internet Explorer */
    font-size:90%;
}
a {
    color:#369;
}
a:hover {
    color:#123;
    text-decoration:underline;
}
h1, h2, h3 {
    margin:.8em 0 .2em 0;
    padding:0;
}
p {
    margin:.4em 0 .8em 0;
    padding:0;
}
img {
    margin:10px 0 5px;
}
#container{
	margin:0px;
	padding:0px;
        position: relative;
	min-width:900px;

}
#header,#footer{
	height:60px;
	text-align: left;
        color:#adb594;
	background-color:#25050c;
	margin:0px 0px 0px 0px;
}
#left_sidebar{
        position: absolute;
        top:70px;
        left:-40px;
        width: 240px;
}
#content{
	margin: 0px 210px 0px 210px;
	background-color:#fff;
        height:500px;
        overflow: auto;

}
#right_sidebar{
        position: absolute;
        top: 70px;
        right: 0px;
        width: 200px;
        background-color:#fff;
        margin-bottom: 10px;
}

ul.nav
{
	list-style-type:none;
        margin: 0px;
}
li.menuItem
{
	background-color:#eee;
	margin: 0px 0px 10px 0px;
        font-size: 17px;
        text-decoration: none;
        border:1px dotted;
        padding-left: 10px;
}

.search{
    margin:0 0 0 40px;
}

a>button{
    text-decoration: none;
}

.navigation_number
{
    padding:0 5px 0 5px;
    font-size: 18px;
}

.navigation_next, .navigation_prev{
    color:#f00;
    font-size: 18px;
    text-decoration: none;
}